
/PirateTreasure/PirateTreasure.5.1.ReSharper.user
/PirateTreasure/_ReSharper.PirateTreasure
/PirateTreasure/PirateTreasure/PirateTreasureContent/bin
/PirateTreasure/PirateTreasure/PirateTreasureContent/obj
/PirateTreasure/PirateTreasure/PirateTreasure/bin
/PirateTreasure/PirateTreasure/PirateTreasure/obj